In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
filename = 'f4.csv'
df= pd.read_csv(filename)
df.columns = ['a', 'b','c','d','e','f','g','h']

In [3]:
df.fillna('#')

,a,b,c,d,e,f,g,h
0,#,#,#,#,#,#,#,#
1,Note: The text displayed in this listing are e...,#,#,#,#,#,#,#
2,#,#,#,#,#,#,#,#
3,Name of Business:,#,ABC Pte Ltd,#,#,#,#,#
4,GST Registration Number:,#,200912345A,#,#,#,#,#
5,GST Reporting Period:,#,1/4/2010 to 30/6/2010,#,#,#,#,#
6,#,#,#,#,#,#,#,#
7,Invoice Date,Invoice Number,Name of Supplier,Supplier's GST Registration Number,Description of Purchases,Type of Purchase,Invoice amount excluding GST \n (S$),GST per invoice \n (S$)
8,5-Apr-10,12345,123 Services Pte Ltd,199698765Z,Corporate secretarial matters,Non-Trade,"1,000.00",70
9,#,#,#,#,Apr-10,#,"1,000.00",70
10,#,#,#,#,#,#,#,#
11,1-May-10,SG10-987,XYZ Singapore Pte Ltd,M200724680,Lease rental of photocopier machine (May 2010),Non-Trade,500,35
12,7-May-10,0510-54,Best packaging Pte Ltd,199955220H,Packing materials,Trade,"40,000.00","2,800.00"
13,#,#,#,#,May-10,#,"40,500.00","2,835.00"
14,#,#,#,#,#,#,#,#
15,29-Jun-10,JAL210,Merlion Travel Pte Ltd,200587878C,Air tickets,Non-Trade,"1,200.00",-
16,29-Jun-10,CN-JAL211,Merlion Travel Pte Ltd,200587878C,Credit note - Service fee waived,Non-Trade,-100,-7
17,30-Jun-10,5846982,Hello Pte Ltd,M90001234H,Telephone charges,Non-Trade,200,10
18,#,#,#,#,Jun-10,#,"1,300.00",3
19,#,#,#,#,#,#,#,#
20,#,#,#,#,Total,#,"42,800.00","2,908.00"
21,#,#,#,#,#,#,Box 5,Box 7

In [4]:
idx=df.index
print(idx.values)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]

In [5]:
df.shape

(22, 8)

In [6]:
df.shape[0] - df.dropna().shape[0]

15

In [7]:
df[df['f'].str.contains('Trade', na = False)]

,a,b,c,d,e,f,g,h
8,5-Apr-10,12345,123 Services Pte Ltd,199698765Z,Corporate secretarial matters,Non-Trade,"1,000.00",70
11,1-May-10,SG10-987,XYZ Singapore Pte Ltd,M200724680,Lease rental of photocopier machine (May 2010),Non-Trade,500,35
12,7-May-10,0510-54,Best packaging Pte Ltd,199955220H,Packing materials,Trade,"40,000.00","2,800.00"
15,29-Jun-10,JAL210,Merlion Travel Pte Ltd,200587878C,Air tickets,Non-Trade,"1,200.00",-
16,29-Jun-10,CN-JAL211,Merlion Travel Pte Ltd,200587878C,Credit note - Service fee waived,Non-Trade,-100,-7
17,30-Jun-10,5846982,Hello Pte Ltd,M90001234H,Telephone charges,Non-Trade,200,10

In [14]:
df.describe()

,a,b,c,d,e,f,g,h
count,11,7,10,7,11,7,12,12
unique,10,7,9,6,11,3,11,11
top,29-Jun-10,0510-54,Merlion Travel Pte Ltd,200587878C,Total,Non-Trade,"1,000.00",70
freq,2,1,2,2,1,5,2,2